.container {
    display: inline-grid;

    grid-template-areas: 
        "header header header"
        "content content1 content1"
        "content content2 content2"
        "content content3 content3"
        "content content4 content4"
        "content content5 content5"
        "footer footer footer";

        height: 1000px;
}

.img
{
    width: 150px;
}

#header {
    background-color: black;
    grid-area: header;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

#content {
    grid-area: content;
    align-content: center;
}

#content1 {
    
    grid-area: content1;
    align-content: center;
}

#content2 {
    grid-area: content2;
    align-content: center;
}

#content3 {
    grid-area: content3;
    align-content: center;
}

#content4 {

    grid-area: content4;
    align-content: center;
    
}

#content5 {

    align-content: center;
    grid-area: content;

}

#footer {
    background-color: orangered;
    grid-area: footer;
    
}